_pycauchy.so
_pycauchy.pyd 
_pycauchy.lib
_pycauchy.exp
pthreadVC2.dll
pycauchy_wrap.cxx
pycauchy_wrap.o
pycauchy_wrap.obj
pycauchy.py 
__pycache__
.DS_Store
numpy.i
old_swigit_linux.sh
old_swigit_mac.sh